[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
plotly = "*"
pandas = "*"
matplotlib = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"
